<h1>Listing tarefas</h1>

<table>
  <tr>
    <th>Descricao</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tarefas.each do |tarefa| %>
  <tr>
    <td><%= tarefa.descricao %></td>
    <td><%= tarefa.status %></td>
    <td><%= link_to 'Show', tarefa %></td>
    <td><%= link_to 'Edit', edit_tarefa_path(tarefa) %></td>
    <td><%= link_to 'Destroy', tarefa, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tarefa', new_tarefa_path %>
