<h3>Novo projeto</h3>
<%= form_for(@novo_projeto) do |f| %>
  <% if @novo_projeto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@projeto.errors.count, "error") %> prohibited this projeto from being saved:</h2>

      <ul>
      <% @novo_projeto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<fieldset>
		<%= f.text_field :nome, :class=>"inputProject", :placeholder=>"Nome do projeto" %>
		<%= f.hidden_field :usuario_id, :value => @usuario.id%>
    	<%= f.submit "Criar", :id=>"botaoRegistro", :class=>"botao" %>	
	</fieldset>
    
<% end %>
