<div id="projetos" class="container">
<%if notice and !notice.empty?%>
<div id="notice">
	<p><%= notice %></p>
	<a href="javascript:;" id="close">x</a>
</div>
<%end%>
<% if @projetos.empty? and @permitidos.empty? %>
	<div class="contInicial">
		<h1>Projetos</h1><br />
		<p id="mensagemInicial">Pronto para começar? É fácil, basta criar um novo projeto ou buscar um projeto existente.</p>
		<div id="boxAddTarefa">
			<%= render 'form_create_project' %>	
		</div>		
		<div id="boxAddUser">
			<%= render 'form_add_projects' %>	
		</div>
		<br />
	</div>
<% else %>
	<div class="conteudoPagina">
		<h1>Projetos</h1><br />
		<% @projetos.each do |projeto| %>
			<div class="containerFolder">
			<%= link_to 'x', projeto, confirm: 'Tem certeza? todas as tarefas desse projeto serão deletadas!', :class=>"deleteFolder" ,method: :delete %>	
			<%= link_to projeto.nome, projeto, :class=>"folder ownerFolder"%>
			</div>
		<% end %>
		
		<% @permitidos.each do |projeto| %>
		<div class="containerFolder">
			<%= link_to 'x', projeto, confirm: 'Tem certeza? O projeto não será deletado, apenas removido de sua lista.', :class=>"deleteFolder" ,method: :delete %>
			<%= link_to projeto.nome, projeto, :class=>"folder folderBlue"%>
		</div>
		<%end%><br />
	</div>
	<div class="containerFuncionalidades">
		<div id="boxAddTarefa">
			<%= render 'form_create_project' %>	
		</div>		
		<div id="boxAddUser">
			<%= render 'form_add_projects' %>	
		</div>
		<br />
	</div>
<%end%>
</div>





