<div id="tarefas">
	<%if notice%>
	<div id="notice">
		<p><%= notice %></p>
		<a href="javascript:;" id="close">x</a>
	</div>
	<%end%>
	<div class="semGrade">
		<div class="container">
			<h1><%= @projeto.nome%></h1>
			<br />
		</div>
	</div>
	<div id="conteudoTarefas">
		<div class="conteudoPagina container">
			<span id="lixeira" ondragenter="return false" ondragover="return false" ondrop="trashIt(this, event)">
			</span>
			<table>
				<thead>
					<tr>
						<td><h2>Tarefas</h2></td>
						<td><h2>em andamento</h2></td>
						<td><h2>prontas</h2></td>
					</tr>	
				</thead>
				<tbody>
					<tr>
						<td id="coluna1" class="colunas" ondrop="dropIt(this, event)" ondragenter="return false" ondragover="return false">
							<%@afazer.each do |tarefa|%>
								<div id="<%=tarefa.id%>" class="postit" draggable="true" ondragstart="dragIt(this, event)">
									<p><%=tarefa.descricao%></p> 
								</div>
							<%end%>
							
						</td>
						<td id="coluna2" class="colunas" ondrop="dropIt(this, event)" ondragenter="return false" ondragover="return false">
							<%@andamento.each do |tarefa|%>
								<div id="<%=tarefa.id%>" class="postit" draggable="true" ondragstart="dragIt(this, event)">
									<p><%=tarefa.descricao%></p> 
								</div>
							<%end%>
						</td>
						<td id="coluna3" class="colunas" ondrop="dropIt(this, event)" ondragenter="return false" ondragover="return false">
							<%@prontas.each do |tarefa|%>
								<div id="<%=tarefa.id%>" class="postit" draggable="true" ondragstart="dragIt(this, event)">
									<p><%=tarefa.descricao%></p> 
								</div>
							<%end%>
						</td>
					</tr>
				</tbody>
			</table>
			<br/>
		</div>
	</div>
	<div id="containerFuncionalidades" class="semGrade">
		<div class="container">
			<div id="boxAddTarefa">
				<%= render 'form_add_tarefas' %>	
			</div>		
			<div id="boxAddUser">
				<%= render 'form_add_users' %>	
			</div>
			<br />
		</div>
	</div>	
</div>
<script type="text/javascript">
	function dragIt(target, e) {
    e.dataTransfer.setData('postit', target.id);
}
function dropIt(target, e) {
    var id = e.dataTransfer.getData('postit');
    target.appendChild(document.getElementById(id)); 
	pai = $('#'+id).parent().attr('id')
    $.post("/projetos/<%=@projeto.id%>/tarefas/"+id+"/muda_status", {coluna : pai}, function(data){
    		alert(data);
    });
    e.preventDefault();
}
function trashIt(target, e) {
    var id = e.dataTransfer.getData('postit');
    removeElement(id);
    e.preventDefault();   
}
function removeElement(id)	{
    var d_node = document.getElementById(id);
    d_node.parentNode.removeChild(d_node);
    $.ajax({
    	type: 'DELETE',
    	url: "/projetos/<%=@projeto.id%>/tarefas/"+id
    });
}
</script>
