<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @projeto.nome %>
</p>

<p>
  <b>Nome responsavel:</b>
  <%= @projeto.nome_responsavel %>
</p>

<p>
  <b>Email responsavel:</b>
  <%= @projeto.email_responsavel %>
</p>


<%= link_to 'Edit', edit_projeto_path(@projeto) %> |
<%= link_to 'Back', projetos_path %>

<a href="/criar_tarefa/<%= @projeto.id%>">Criar tarefa</a>
