<p id="notice"><%= notice %></p>

<p>
  <b>nome do projeto:</b>
  <%= @projeto.nome%>
</p>

<% if @tarefas%>
	<%@tarefas.each do |tarefa|%>
		<%=tarefa.status%><br />
		<%=tarefa.descricao%>
	<%end%>
<%end%>
<br />
<%= form_tag ('/projetos/'+@projeto.id+'/tarefas') do%>

  
    <%= label_tag :descricao %><br />
    <%= text_field_tag :descricao %>
    <%= submit_tag %>

  
<% end %>


<br/>
<%= link_to 'Back', usuario_path(@usuario) %>
<script type="text/javascript">
	
	
</script>
