<div id="tarefas">
	<div class="semGrade">
		<div class="container">
			<h1><%= @projeto.nome%></h1>
			<br />
		</div>
	</div>
	<%if @tarefas.empty? %>
	<div class="container contInicial">
		<p id="mensagemInicial">Com o projeto criado basta criar suas tarefas para popular o quadro e adicionar outros usuários para colaborar neste projeto.</p>
		<div id="boxAddTarefa">
			<%= render 'form_add_tarefas' %>	
		</div>		
		<div id="boxAddUser">
			<%= render 'form_add_users' %>	
		</div>
		<br />
	</div>
	<%else%>
	<div id="conteudoTarefas">
		<div class="conteudoPagina container">
			<%if notice%>
			<div id="notice">
				<p><%= notice %></p>
				<a href="javascript:;" id="close">x</a>
			</div>
			<%end%>
			<span id="lixeira" ondragenter="return false" ondragover="return false" ondrop="trashIt(this, event)">
			</span>
			<table>
				<thead>
					<tr>
						<td><h2>Tarefas</h2></td>
						<td><h2>em andamento</h2></td>
						<td><h2>prontas</h2></td>
					</tr>	
				</thead>
				<tbody>
					<tr>
						<td id="coluna1" class="colunas" ondrop="dropIt(this, event)" ondragenter="return false" ondragover="return false">
							<%@afazer.each do |tarefa|%>
								<div id="<%=tarefa.id%>" class="postit" draggable="true" ondragstart="dragIt(this, event)">
									<p><%=tarefa.descricao%></p> 
								</div>
							<%end%>
							
						</td>
						<td id="coluna2" class="colunas" ondrop="dropIt(this, event)" ondragenter="return false" ondragover="return false">
							<%@andamento.each do |tarefa|%>
								<div id="<%=tarefa.id%>" class="postit" draggable="true" ondragstart="dragIt(this, event)">
									<p><%=tarefa.descricao%></p> 
								</div>
							<%end%>
						</td>
						<td id="coluna3" class="colunas" ondrop="dropIt(this, event)" ondragenter="return false" ondragover="return false">
							<%@prontas.each do |tarefa|%>
								<div id="<%=tarefa.id%>" class="postit" draggable="true" ondragstart="dragIt(this, event)">
									<p><%=tarefa.descricao%></p> 
								</div>
							<%end%>
						</td>
					</tr>
				</tbody>
			</table>
			<br/>
		</div>
	</div>
	<div class="containerFuncionalidades">
		<div id="boxAddTarefa">
			<%= render 'form_add_tarefas' %>	
		</div>		
		<div id="boxAddUser">
			<%= render 'form_add_users' %>	
		</div>
		<br />
	</div>	
	<%end%>
</div>
<script type="text/javascript">
	function dragIt(target, e) {
    e.dataTransfer.setData('postit', target.id);
}
function dropIt(target, e) {
    var id = e.dataTransfer.getData('postit');
    target.appendChild(document.getElementById(id)); 
	pai = $('#'+id).parent().attr('id')
    $.post("/projetos/<%=@projeto.id%>/tarefas/"+id+"/muda_status", {coluna : pai});
    e.preventDefault();
}
function trashIt(target, e) {
    var id = e.dataTransfer.getData('postit');
    removeElement(id);
    e.preventDefault();   
}
function removeElement(id)	{
    var d_node = document.getElementById(id);
    d_node.parentNode.removeChild(d_node);
    $.ajax({
    	type: 'DELETE',
    	url: "/projetos/<%=@projeto.id%>/tarefas/"+id
    });
}
</script>
