<div id="solicitacoes">
	<div class="semGrade">
		<div id="topoAbas" class="container">
			<h1><%= @projeto.nome%></h1>
			<ul>
				<li><%=link_to "Tarefas", projeto_path(@projeto)%></li>
				<li><a href="#"><%=link_to "Burndown", projeto_burndowns_path(@projeto)%></a></li>
				<li id="selecionado">Solicitações</li>
			</ul>
			<br />
		</div>
	</div>
	<div class="container">
		<%if notice%>
		<div id="notice">
			<p><%= notice %></p>
			<a href="javascript:;" id="close">x</a>
		</div>
		<%end%>
		<h2>Solicitações</h2><br/>
		<% if @usuarios.empty?%>
		<p class="nada"> Esse projeto não tem nenhuma solicitação pendente.</p>
		<% else %>
			<p>Os seguintes usuários desejam fazer parte desse projeto:</p><br />
			<% @usuarios.each do |u|%>
				<div class="contSolicitacao">
					<%= form_tag ('/usuarios/'+u.id+'/aceitaProjeto') do%>
						<fieldset>
							<%= label_tag :usuario_email, u.email%>
						    <%= hidden_field_tag :projeto_id, params[:id] %>
						    <%= submit_tag "Recusar usuário", :class=>"botao botaoSolicitacao" %>
						    <%= submit_tag "Aceitar usuário", :class=>"botao botaoSolicitacao", :id=>"botaoAceitarUsuario" %>
						</fieldset>
					<% end %>	
				</div>	
			<%end%>
	<% end %>
	</div>
</div>
