<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='62908336-0',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->

<div id="banner">
	<div id="containerBanner">
		<div id="bannerEsquerda">
			<h1 id="primeiroTitulo">simples, prático</h1>
			<h1 id="segundoTitulo">e seguro</h1>
			<ul>
				<li class="ordenacao">1º</li><li>Crie um novo projeto</li><br/>
				<li class="ordenacao">2º</li><li>Liste e organize suas tarefas</li><br/>
				<li class="ordenacao">3º</li><li>Convide pessoas e colabore em vários projetos</li><br/>
			</ul>	
		</div>
		<div id="bannerDireita">
			<img src='/assets/imagem_banner.png' id="imagemBanner" />
		</div>
		<br />	
	</div>
</div>
<div id="registro">
	<div id="colunaEsquerda">
		<img src='/assets/quote_left.gif' id="quoteLeft" /><br />
		<p id="habilitado">Um quadro de tarefas simples e útil onde você preocupa apenas em realizar suas tarefas.</p>
		<img src='/assets/quote_right.gif' id="quoteRight" /><br/>
	</div>
	<div id="colunaDireita">
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
			<fieldset>
				<h2> Teste e comprove, é grátis!</h2>
				<% if flash[:error]%>
					<p class='errorMessage'><%= flash[:error]%></p>
				<%end%>
				<%= f.email_field :email, :class=>"input", :placeholder=>"Email" %>
				<%= f.password_field :password, :class=>"input", :placeholder=>"Senha" %>
				<%= f.submit "Cadastrar", :id=>"botaoRegistro", :class=>"botao" %>
			</fieldset>
		
		<% end %>
		
	</div>
	<br/>
</div>


<script type="text/javascript">

	function iniciaTimer() {
		$("#containerDepoimentos").everyTime(6000, function() {
			trocaDepoimento();
		});
	};
	
	function trocaDepoimento(){
		$("#habilitado").fadeOut();
		$("#desabilitado").fadeIn();
	};
	
	$(document).ready(function(){
		iniciaTimer();
	});
</script>