<!DOCTYPE html>
<html>
<head>
	
	<title>Mytaskboard</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  
  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "application" %>
  	<%= csrf_meta_tags %>
</head>

<body>
<div id="topo">
	<div id="containerTopo">
		<% if usuario_signed_in? %>
  		<a href="/projetos"><img src='/assets/logo.png' alt="logo mytaskboard" id="logo" /></a>
  		  <%= link_to'Logout', destroy_usuario_session_path, :method => :delete, :id => "botao", :class => "botao" %>        
		<% else %>
		<a href="/"><img src='/assets/logo.png' alt="logo mytaskboard" id="logo" /></a>
  		<%= link_to "Login", new_session_path(resource_name),:id => "botao", :class => "botao" %><br />
		<% end %>
	</div>
</div>

<div id="corpo">
	<%= yield %>
</div>

<footer>
	<div class="container">
		<span>Copyright 2012 - contato@mytaskboard.com</span>
		<div id="contIcon">
			<a href = "#" id="tweetIcon" class="socialIcon"></a>
			<a href = "#" id="faceIcon" class="socialIcon"></a>
		</div><br />
	</div>
</footer>




</body>
</html>
